/* Card-section */

.card-section {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  animation: fadeIn 2s ease 0.5s backwards;
  transition: all 0.2s ease-in-out;
}

.card {
  margin: 20px 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background: var(--white);
  grid-gap: 10px;
  border-radius: var(--br-10);
  box-shadow: 0 0 10px var(--black-shadow);
  overflow: hidden;
}

.card.show {
  display: grid;
}

.card.fade {
  opacity: 1;
}

.card-text {
  padding: 10px;
  background: var(--white);
  color: var(--black);
}

.card-img {
  width: 100%;
}

.card-link {
  color: var(--black);
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--overlay-gradient);
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease-out;
  z-index: 12;
}

.overlay-inner {
  padding: 40px 4%;
  background: var(--white);
  border-radius: var(--br-10);
  box-shadow: 0 0 10px var(--black-shadow);
  transition: transform 0.5s ease-out;
}

.overlay.close {
  /* Close the overlay */
  opacity: 0;
  pointer-events: none;
}

.overlay.close .overlay-inner {
  transform: translateY(-200%);
}

.categories-container {
  padding: 30px;
}

.categories-container h2 {
  margin: 0 0 10px;
  text-shadow: -2px 2px 3px var(--black-shadow);
}

.card-section .categories-container h2 {
  color: var(--white);
}
