.footer {
  width: 100%;
  height: var(--footer-height);
  padding: 40px 0;
  background: var(--grey);
  color: var(--white);
  z-index: 10;
}

.footer-wrapper {
  max-width: 823px;
  margin: 0 auto;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-links,
.social-links {
  display: flex;
  gap: 10px;
}
