/* Header Nav-Section  */

.header {
  width: 100%;
  position: fixed;
  padding: 10px 4%;
  top: 0;
  background: var(--grey);
  color: var(--white);
  box-shadow: 0 0 5px var(--black-shadow);
  z-index: 10;
}

.nav {
  max-width: 823px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  gap: 10px;
}

.logo {
  padding: 10px;
}

.hamburger-menu {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: var(--white);
  transform-origin: 3px 1px;
  transition: transform 0.2s ease-in-out;
}

.hamburger-menu span:not(:last-child) {
  margin-bottom: 5px;
}

.hamburger-menu.open span:first-child {
  transform: rotate(45deg);
}
.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.open span:last-child {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  /* Header */
  .hamburger-menu {
    display: block;
  }

  .nav-ul {
    display: none;
    width: 100%;
    padding: 20px 2% 40px;
    position: fixed;
    top: var(--header-height);
    left: 0;
    background: var(--white);
    color: var(--black);
    border-radius: 0 0 var(--br-10) var(--br-10);
    box-shadow: 0 0 5px var(--black-shadow);
  }

  .nav-ul.show {
    display: block;
  }

  .nav-li {
    padding: 20px;
    border-bottom: 1px solid var(--black);
  }

  .nav-link {
    color: var(--black);
  }
}
