:root {
  /* Color Variables */
  --white: #fff;
  --black: #000;
  --grey: #181818;
  --yellow: #ffff00;
  --purple: #5600ff;
  --powdergreen: #009b8c;
  --darkslategrey: #2f4f4f;
  --coral: #ff7f50;
  --black-shadow: rgba(0, 0, 0, 0.2);
  --white-shadow: rgba(255, 255, 255, 0.7);
  /* Font Family */
  --primary-font: 'Rubik', sans-serif;
  /* Linear Gradients */
  --overlay-gradient: linear-gradient(220deg, #6495ed, #0effa6);
  /* Border radius */
  --br-5: 5px;
  --br-10: 5px;
  /* Header Height */
  --header-height: 0;
  --footer-height: 90px;
  --text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  /* Max Width */
  --max-width: 823px;
}
